---
server:
    install: '1'
    timezone: UTC
    locale: en_US.UTF-8
    packages: [curl, wget, python-software-properties]
vagrant_local:
    install: '1'
    vm: { base_box: trusty64, hostname: nineworlds, ip: 192.168.10.50, memory: '512', sharedfolder: ../, useVagrantCloud: '1', syncType: '0' }
nginx:
    install: '1'
    docroot: /vagrant
    servername: nineworlds.vb
    siteroot: /vagrant/site/public
    sitename: site.nineworlds.vb
pgsql:
    install: '1'
    database: db
    user: nineworlds
    password: nineworldsdb
    dump: ''
php:
    install: '1'
    ppa: php5-5.6
    packages: [php5-cli, php5-intl, php5-mcrypt, php5-pgsql, php5-fpm, php5-curl]
xdebug:
    install: '1'
composer:
    install: '1'
node:
    install: '1'
    packages: [coffee-script, gulp]
